<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover" style="cursor: pointer;">
                <thead class="thead-light">
                <tr>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orders of orders" routerLink="/orders/{{orders.id}}">
                    <th># {{orders.id}}</th>
                    <td>{{orders.orderDate | date: 'medium'}}</td>
                    <td>{{orders.total | currency}}</td>
                    <td>{{orders.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>