
    <header class="d-flex flex-column flex-md-row align-items-center justify-content-between
    border-bottom fixed-top mb-2 py-3 bg-white">
      
        <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/" class="logo">
  
        <nav class="my-2 mt-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
          <a class="me-3 py-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          <a class="me-3 py-2" routerLink="/shop" routerLinkActive="active">Shop</a>
          <a class="me-3 py-2" routerLink="/test-errors" routerLinkActive="active">Errors</a>
        </nav>
        <div class="d-flex align-items-center">
            <a routerLink="/basket" class="position-relative">
                <i class="fa fa-shopping-cart fa-2x text-dark me-5 py-2"></i>
                <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
            </a>
            <a href="#" class="me-3 py-2 btn btn-outline-secondary">Login</a>
            <a href="#" class="me-3 py-2 btn btn-outline-secondary">Sign up</a>
        </div>
      
    </header>
  
